["Sarah" {:wins 0, :losses 0, :draws 1}]
["John" {:wins 0, :losses 0, :draws 1}]
["Bob" {:wins 0, :losses 0, :draws 1}]
["Sarah" {:wins 0, :losses 0, :draws 1}]
["Dule" {:wins 0, :losses 0, :draws 4}]
["Samson" {:wins 0, :losses 0, :draws 4}]
["Dule" {:wins 0, :losses 1, :draws 1}]
["Sarah" {:wins 1, :losses 0, :draws 1}]
["Bob" {:wins 0, :losses 1, :draws 1}]
["Mary" {:wins 1, :losses 0, :draws 1}]
