<!DOCTYPE HTML>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <style>
    body {padding: 60px;}
    h1 {text-align: center;}
    h3 {color: blue;
        text-align: center;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <br>
  <h3>{{message}}</h3>
  <div class="row">
      <div class="col s2 offset-s5">
        <a class="waves-effect waves-light btn" href="/settings">{{play-again}}</a>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col s2 offset-s5">
        <a class="waves-effect waves-light btn"href="/scores">{{see-scores}}</a>
    </div>
  </div>
</body>
