<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <h2>{{message}}</h2>
  To play again, <a href="/settings">click here.</a>
</body>
</html>
