<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <style>
    body {background-color:lightgrey;
          padding: 60px;}
    h2 {color: blue;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <br>
  <h2>{{message}}</h2>
  <br>
  <h3><a href="/settings">{{play-again}}</a></h3>
  <br>
  <h3><a href="/scores">{{see-scores}}</a></h3>
</body>
