<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{header}}</title>
</head>
<body>
  <h1> This is an application to play Tic Tac Toe. </h1>
  <br>
  To play, <a href="/settings"> please click here to get started.</a>
</body>
</html>
