<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <style>
    body {background-color:lightgrey;
          padding: 60px;
          font-size: 20px;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <a href="/settings">{{play-game}}</a>
  <br><br>
  <a href="/scores">{{see-scores}}</a>
</body>
