<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <ol>
  <li> {{play-game}}:  <a href="/settings">{{click-here}}.</a> </li>
  <li> {{see-scores}}:  <a href="/scores">{{click-here}}.</a></li>
  </ol>
</body>
</html>
