<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <style>
    body {background-color:lightgrey;
          padding: 60px;}
  </style>
  <title>{{header}}</title>
  <h1> {{header}}</h1>
</head>
<body>
  {{sorry-page-not-found}}
</body>
