<!DOCTYPE HTML>
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <style>
    body {padding: 60px;}
    td {border: 1px solid #000;}
    table {width: 300px;
           height: 300px;
           table-layout: fixed;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <h4>{{current-marker-message}}</h4>
  <br>
  <form action='/play_game' method='post'>
  <table class="centered">
    {{#board}}
      {{#start-row}}
      <tr>
      {{/start-row}}
      <td>
      {{#current-player-is-ai}}
        <h5>{{value}}</h5>
      {{/current-player-is-ai}}
      {{^current-player-is-ai}}
        {{#open}}
          <input name="spot" type="radio" id={{value}} value ={{value}} checked/>
          <label for={{value}}></label>
        {{/open}}
        {{^open}}
          <h5>{{value}}</h5>
        {{/open}}
      {{/current-player-is-ai}}
      </td>
      {{#end-row}}
      </tr>
      {{/end-row}}
    {{/board}}
  </table>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">{{next}}</button>
  </form>
</body>
