<!DOCTYPE HTML>
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <style>
    body {padding: 60px;}
    table {width: 30%;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <a class="waves-effect waves-light btn" href="/">{{return-home}}</a>
  <table class="striped">
    <thead>
      <tr>
        <th>{{name-header}}</th>
        <th>{{tally-header}}</th>
      </tr>
    </thead>
    <tbody>
      {{#scores}}
        <tr>
        <td>{{name}}</td>
        <td>{{score}}</td>
        </tr>
      {{/scores}}
    </tbody>
  </table>
</body>
