<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <style>
    body {background-color:lightgrey;
          padding: 60px;}
    h1 {border-style: dotted;}
    h3 {border-bottom-style: solid;}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <h2><a href="/">{{return-home}}</a></h2>
  <h3>{{player-tally}}</h3>
  {{&scores}}
</body>
