<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <h2>{{return-home}}: <a href="/">{{click-here}}</a></h2>
  <h2>{{player-tally}}</h2>
  {{&scores}}
</body>
</html>
