<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <style>
    body {background-color:#607D8B;
          color: #FFFFFF;
          padding: 60px;
          font-size: 18px;}
    h1 {text-align: center;}
    h2   {color:#FF5722;
          border-color: #FF5722;
          text-align: center;}
    h3 {text-align: center;
          color: #212121;}
    .button {
       display: block;
       height: auto;
       width: auto;
       background: #455A64;
       border: 4px solid #212121;
       color: #FFFFFF;
       text-align: center;
       font-size: 25px;
       padding: 10px;
       border-radius: 50px;
       margin: 0 auto;
       float: center;
      }
    #container{
      overflow: auto;
      text-align: center;}
    .right, .left {
      border-style: solid;
     border-color: #CFD8DC;
      width: 45%;
      padding: 10px;
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  {{#bad-input}}
    <h2>{{input-error}}</h2>
  {{/bad-input}}
  <form action="/settings" method="post">
  <div id="container">
    <div class="left">
      <h3>{{player-one}}</h3>
      <label>{{name}}</label>
      <input type="text" name="player-one-name"/>
      <br><br>
      <label>{{marker}}</label>
      <select name="player-one-marker">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="H">H</option>
          <option value="I">I</option>
          <option value="J">J</option>
          <option value="K">K</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="O">O</option>
          <option value="P">P</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="T">T</option>
          <option value="U">U</option>
          <option value="V">V</option>
          <option value="W">W</option>
          <option value="X" selected = "selected">X</option>
          <option value="Y">Y</option>
        	<option value="Z">Z</option>
      </select>
      <br><br>
      <label>{{ai-player}} </label>
      <input type="radio" name="player-one-type" value="AI" checked/>
      <label>{{human-player}}</label>
      <input type="radio" name="player-one-type" value="Human"/>
    </div>
    <div class="right">
      <h3>{{player-two}}</h3>
      <label>{{name}}</label>
      <input type="text" name="player-two-name"/>
      <br><br>
      <label>{{marker}}</label>
      <select name="player-two-marker">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="H">H</option>
          <option value="I">I</option>
          <option value="J">J</option>
          <option value="K">K</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="O" selected = "selected">O</option>
          <option value="P">P</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="T">T</option>
          <option value="U">U</option>
          <option value="V">V</option>
          <option value="W">W</option>
          <option value="X">X</option>
          <option value="Y">Y</option>
        	<option value="Z">Z</option>
      </select>
      <br><br>
      <label>{{ai-player}} </label>
      <input type="radio" name="player-two-type" value="AI" checked/>
      <label>{{human-player}}</label>
      <input type="radio" name="player-two-type" value="Human"/>
    </div>
  </div>
  <br>
  <div id="container">
    <div class="left">
      <h3>{{choose-board-dimension}} ({{ai-works-for-3x3}}):</h3>
      <label>3x3: </label> <input type="radio" name="board-dimension" value="3" checked/>
      <label>4x4: </label> <input type="radio" name="board-dimension" value="4" />
    </div>
    <div class="right">
      <h3>{{choose-player-that-goes-first}}</h3>
      <label>{{player-one}}:</label><input type="radio" name="first-player" value="player-one-marker" checked/>
      <label>{{player-two}}:</label><input type="radio" name="first-player" value="player-two-marker"/>
    </div>
  </div>
  <br>
  <br>
  <input class= "button" type="submit" value={{next}}>
  </form>
</body>
