<!DOCTYPE HTML>
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <style>
    body {padding: 60px;}
    .col.s5 {
      border-style: solid;
      padding: 15px;}
    .col.s5.null {
      border: none;}
    button {
      text-align: center;
      float: center;}
    label {color: #000000;}
    .input-field label {
     padding-left: 5px;
    }
    .input-field label.active {
      padding-bottom: 5px;
    }
    input[type=text]{
      background-color: #FFFFFF;
      border-bottom: 1px solid #616161;
      outline: 1px solid #616161;
      padding-left: 10px;
    }
    select {border-color: #616161}
  </style>
  <title>{{header}}</title>
  <h1>{{header}}</h1>
</head>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  {{#bad-input}}
    <span class="red-text text-darken-4"><h2>{{input-error}}</h2></span>
  {{/bad-input}}
  <form action="/settings" method="post">
  <div class="row">
    <div class="col s5">
      <h3>{{player-one}}</h3>
      <div class="row">
        <div class="input-field col s10">
          <input value = {{player-one-name}} id="player-one-name" name="player-one-name" type="text">
          <label for="player-one-name">{{name}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          {{marker}}
          <select class="browser-default" name="player-one-marker">
          {{#markers-player-one}}
            {{#selected}}
              <option value={{character}} selected>{{character}}</option>
            {{/selected}}
            {{^selected}}
              <option value={{character}}>{{character}}</option>
            {{/selected}}
          {{/markers-player-one}}
          </select>
        </div>
      </div>
      <br>
      &nbsp;&nbsp;
      {{#player-one-type}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#selected}}
          <input name="player-one-type" type="radio" id={{player-type}} value = {{player-type}} checked>
        {{/selected}}
        {{^selected}}
          <input name="player-one-type" type="radio" id={{player-type}} value = {{player-type}}>
        {{/selected}}
        <label for={{player-type}}>{{player-type-display}}</label>
      {{/player-one-type}}
    </div>
    <div class="col s1"><br></div>
    <div class="col s5">
      <h3>{{player-two}}</h3>
      <div class="row">
        <div class="input-field col s10">
          <input value = {{player-two-name}} id="player-two-name" name="player-two-name" type="text">
          <label for="player-two-name">{{name}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          {{marker}}
          <select class="browser-default" name="player-two-marker">
          {{#markers-player-two}}
            {{#selected}}
              <option value={{character}} selected>{{character}}</option>
            {{/selected}}
            {{^selected}}
              <option value={{character}}>{{character}}</option>
            {{/selected}}
          {{/markers-player-two}}
          </select>
        </div>
      </div>
      <br>
      &nbsp;&nbsp;
      {{#player-two-type}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#selected}}
          <input name="player-two-type" type="radio" id={{player-type}}2 value = {{player-type}} checked>
        {{/selected}}
        {{^selected}}
          <input name="player-two-type" type="radio" id={{player-type}}2 value = {{player-type}}>
        {{/selected}}
        <label for={{player-type}}2>{{player-type-display}}</label>
      {{/player-two-type}}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col s5">
      <h4>{{choose-board-dimension}} ({{ai-works-for-3x3}})</h4>
      &nbsp;&nbsp;&nbsp;&nbsp;
      {{#board-dimension}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#selected}}
          <input name="board-dimension" type="radio" id={{dimension}} value = {{dimension}} checked>
        {{/selected}}
        {{^selected}}
          <input name="board-dimension" type="radio" id={{dimension}} value = {{dimension}} >
        {{/selected}}
        <label for={{dimension}}>{{dimension}}x{{dimension}}</label>
      {{/board-dimension}}
    </div>
    <div class="col s1"><br></div>
    <div class="col s5">
      <h4>{{choose-player-that-goes-first}}</h4>
      &nbsp;&nbsp;&nbsp;&nbsp;
      {{#first-player}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#selected}}
          <input name="first-player" type="radio" id={{player}} value = {{player}} checked >
        {{/selected}}
        {{^selected}}
          <input name="first-player" type="radio" id={{player}} value = {{player}}>
        {{/selected}}
        <label for={{player}}>{{player-title}}</label>
      {{/first-player}}
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col s5 null"><br></div>
      <div class="col s2">
        <button class="btn waves-effect waves-light" type="submit" name="action">{{next}}</button>
      </div>
      <div class="col s5 null"><br></div>
  </div>
  </form>
</body>
